# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Dataset / local files
dataset/
*.pt   # if you don’t want to push your embeddings file

# Logs
*.log

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db